/* menu */
#menu-vertical *{
    margin: 0;
    padding: 0;
}
#menu-vertical nav{
    border: 0 !important;
    border-radius: 0 !important;
}
#menu-vertical nav ul li img{
    width: 50px;
    margin-left: 10px;
    margin-top: 5px;
}
#menu-vertical nav ul li{
    text-align: left;
    padding-right: 12px;
}
#menu-vertical nav ul li i{
    display: inline-block;
    width: 30px;
    margin-left: 20px;
}
#menu-vertical nav ul li span{
    margin-left: 20px;
    font-size: 1.6em;
}
#menu-vertical{
    float: left;
}

.open-menu-vertical{
    transition: width 2s;
    width: 25%;
}